<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top">
			<table border="0" cellspacing="0" cellpadding="0">	
			 <updown>
			 <tr>
				<td width="[$BrowseSectionWidth]" height="[$BrowseUpDownHeight]" align="right" valign="top"><img src="[ThemeDirectory]/icon/up_[UpStatus].png" border="0" width="20" height="18">&nbsp;&nbsp;<img src="[ThemeDirectory]/icon/down_[DownStatus].png" border="0" width="20" height="18">&nbsp;&nbsp;</td>
			  </tr>
			  </updown>
			  <tr><td height="2"></td></tr>	
			  <tr>
				  <td width="[$BrowseSectionWidth]" valign="top">
					 <List>
				 </td>
				</tr>	
				<tr>
					<td height="0"></td>
				</tr>	
				<tr>
					<td align="right">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<font class="paging">&nbsp;&nbsp;<b>[PageFirstIndex]-[PageLastIndex] / [ItemCount] items</b></font>
									<PreviousPageLink>
									<NextPageLink>
								</td>
								<td width="6"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
