<table border="0" cellspacing="0" cellpadding="0" background="[ThemeDirectory]/icon/list_bar.png">
    <tr height="[$Browse_ListEntryHeight]">
        <td width="[$Browse_ListEntryDisplayOrderWidth]" align="right" class="list">
            [DisplayOrder]
        </td>
        <td width="[$Browse_ListEntryIconCellWidth]" align="right"><img src="[ThemeDirectory]/icon/[IconName].png" width="[$Browse_ListEntryIconWidth]"></td>
        <td width="[$Browse_ListEntryNameWidth]">
            <font class="list">
                <a href="[NavigateUrl]" name="item[DisplayOrder]x" onkeyrightset="item[NextDisplayOrder]x" onkeyleftset="home" [BrowserTags]>
                    <font class="bold">
                        <marquee behavior="focus" width="[$Browse_ListEntryMarqueeWidth]">&nbsp;&nbsp;[Name]</marquee>
                    </font>
                </a>
            </font>
        </td>
        <td width="10">
        <td>
    </tr>
</table>
