<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ThemeName" value="deepblue"/>
    <add key="VideoExtensions" value="m1v;m2v;m4v;mpg;mpeg;m2p;ts;tp;trp;m2t;m2ts;mts;vob;evo;avi;asf;wmv;mkv;mov;mp4;rmp4;"/>
    <add key="AudioExtensions" value="aac;m4a;mp1;mp2;mp3;mpa;wav;wma;flac;ogg"/>
    <add key="ImageExtensions" value="jpg;jpeg;bmp;png;gif"/>
    <add key="ImageInterval" value="5"/>
    <add key="LanguageID" value="En"/>
    <add key="ExcludeOnExactMatch" value="bin;theme;Moviejukebox"/>
    <add key="ExcludeOnPartialMatch" value=""/>
    <add key="EncodeNonAsciiUrlsInAudioPlaylist" value="True"/>
  </appSettings>
    <connectionStrings/>
    <system.web>
        <compilation debug="true" />
        <authentication mode="Windows" />
        <customErrors mode="Off">
        </customErrors>
    </system.web>
</configuration>
