<?xml version="1.0"?>
<configuration>
  <themeSettings>
	<MenuWidth>
		<add key="SD" value="190"/>
		<add key="HD" value="270"/>
	</MenuWidth>
	<DividerWidth>
		<add key="SD" value="38"/>
		<add key="HD" value="100"/>
	</DividerWidth>
	<DividerHeight>
		<add key="SD" value="405"/>
		<add key="HD" value="656"/>
	</DividerHeight>
	<MainContentWidth>
		<add key="SD" value="380"/>
		<add key="HD" value="730"/>
	</MainContentWidth>
	<HomeIconCellWidth>
		<add key="SD" value="88"/>
		<add key="HD" value="180"/>
	</HomeIconCellWidth>
	<HomeIconWidth>
		<add key="SD" value="87"/>
		<add key="HD" value="160"/>
	</HomeIconWidth>
	<HomeIconHeight>
		<add key="SD" value="198"/>
		<add key="HD" value="362"/>
	</HomeIconHeight>
	<BrowseSectionWidth>
		<add key="SD" value="380"/>
		<add key="HD" value="728"/>
	</BrowseSectionWidth>
	<BrowseUpDownHeight>
		<add key="SD" value="22"/>
		<add key="HD" value="27"/>
	</BrowseUpDownHeight>
  <Browse_ListEntryHeight>
    <add key="SD" value="35"/>
    <add key="HD" value="46"/>
  </Browse_ListEntryHeight>
  <Browse_ListEntryDisplayOrderWidth>
    <add key="SD" value="40"/>
    <add key="HD" value="70"/>
  </Browse_ListEntryDisplayOrderWidth>
	<Browse_ListEntryIconCellWidth>
		<add key="SD" value="40"/>
		<add key="HD" value="80"/>
	</Browse_ListEntryIconCellWidth>
	<Browse_ListEntryIconWidth>
		<add key="SD" value="35"/>
		<add key="HD" value="45"/>
	</Browse_ListEntryIconWidth>
	<Browse_ListEntryNameWidth>
		<add key="SD" value="288"/>
		<add key="HD" value="568"/>
	</Browse_ListEntryNameWidth>
	<Browse_ListEntryMarqueeWidth>
		<add key="SD" value="280"/>
		<add key="HD" value="560"/>
	</Browse_ListEntryMarqueeWidth>
  </themeSettings>
  <languageSettings>
	<Setup>
		<add key="En" value="Setup"/>
	</Setup>
	<MediaSource>
		<add key="En" value="Media Source"/>
	</MediaSource>
	<WebServices>
		<add key="En" value="Web Services"/>
	</WebServices>
  </languageSettings>
</configuration>
